<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pollster {% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.css">
</head>
<body>
  <!-- Navbar -->
  {% include 'partials/_navbar.html' %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 m-auto mb-3">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>